<link rel="stylesheet" href="../styles/footer.css" />
<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <img src="../assets/logo1.png" alt="Logo" class="footer-logo" />
      <h3 class="footer-title">Contact Us</h3>
      <p class="footer-phone">+7 777 777 77 77</p>
      <p class="footer-time">from 9:00 am to 8:00 pm</p>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">Authors</h3>
      <ul class="footer-list">
        <li>Bartay Galym</li>
        <li>Rauan Ali</li>
        <li>Mukhtaruly Nurrasyl</li>
        <li>Haval Miras</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">About TravelX</h3>
      <ul class="footer-list">
        <li>About Company</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">Partners</h3>
      <ul class="footer-list">
        <li>Stark Industries</li>
        <li>Apple Corp.</li>
        <li>Wayne Enterprise</li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">© TravelX. All rights reserved</div>
</footer>
